*
{
    position: relative;
    border: #cccccc solid 2px;
}

body
{
    width: 960px;
    margin: 0 auto;
    background-image:url("../images/gravel.png");
    
}

h1,h2,h3,h4,h5,h6
{    
 font-family: Georgia, 'Times New Roman', Times, serif;

}

p
{
    font-family: Arial, Helvetica Neue, 'Helvetica' sans-serif;
    line-height: 30px;
    padding-left: 20px;
    margin-left: 20px;
}
.heading
{
    color: #4aaaa5;
    font-size:30px;
    font-weight:bold;
    padding: 25px;
    margin-left: -20px;
}

hr{
    border: #DDDDDD solid 1px;
    padding-left:0px;
}

img{
    float: left;
    padding: 5px;
}
.header
{
    background-color:#ffffff;
    border: solid 2px #cccccc;
    height: 100px;
    display: flex;
    width: 100%;
    align-items: stretch;
    position: fixed;
    top:0;
    left: 0;
    

}
  li{
    float: right;
    color: #777777;
    text-align: center;
    padding-left: 20px;
    margin-left: s0px;
    margin-top: 40px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 17px;
    right: -450px;
  }
  
.name
{
    background-color:#4fa9a4;
    font-size: 20px;
    text-align: center;
    padding: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-left:240px;
    width: 200px;
}

a:hover{
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
}

a:link{
    text-decoration: none;
    color: #777777;
}
.footer
{
    position: fixed;
    width: 100%;
    background-color: #666666;
    height: 50px;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
    color: #ffffff;
    border-top: 10px solid #4aaaa5;

}
.top-menu
{
    background-color: #ffffff;
    float: right;

}

.mainsection
{
    position: relative;
    top:100px;
    width: 960px;
    height: 500px;
    margin-top: 15px;
    background-color:#ffffff;
    color:#060606;
    padding-right: 20px;
    padding-left: 20px;
    border: solid 2px #dddddd;
}

section
{
    background-color: #ffffff;
    border:2px solid #4aaaa5;

}

input
{
    height: 20px;
    padding-left: 10px;
}

#submit
{
    height: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5px;
}